@using Mentoring.Core.Module1.Models
@model IEnumerable<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
    <h2>Products we have</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th>UnitsOnOrder</th>
            <th>ReorderLevel</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitsOnOrder</td>
                <td>@item.ReorderLevel</td>
                <td><a asp-action="Edit" asp-route-id="@item.ProductId" >Edit</a></td>
            </tr>
        }
    </table>

    <div>
        <a asp-action="Create">Create new product</a>
    </div>
</body>
</html>
